server:
  port: 8888

spring:
  application:
    name: config-server
  profiles:
    active:
      - native

  cloud:
    config:
      server:
        native:
          search-locations: file:///C:/Users/anubhav.maurya/ecomConfig
#          username: anubhav.maurya1
#          password: glpat-ggqtBNNZ8p1849d0ZfrfwG86MQp1OjIxcwk.01.0z15500tz
#          default-label: main
#          clone-on-start: true
#          force-pull: true
#          skip-ssl-validation: true
#          timeout: 10

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka


management:
  endpoints:
    web:
      exposure:
        include: health,info


logging:
  level:
    org.springframework.cloud.config.server: DEBUG
    org.eclipse.jgit: DEBUG
